.katalog-page {
    margin-bottom: 100px;
}

.woocommerce-page-head {
    border-bottom: 2px solid #fafafa;
    padding-bottom: 20px;
    position: relative;
    left: -40px;
    padding-left: 40px;
    width: calc(100% + 40px);
}

.products {
    margin-top: 40px;
}

.katalog-wrapper {
   padding-left: 40px;
}

.page-title,
.woocommerce-result-count {
    color: #fafafa;
    font-family: fiveminutes;
    text-transform: uppercase;
    font-size: 24px;
}

.katalog-filter a {
    color: #fff;
}

.woocommerce-Price-currencySymbol .svg.replaced-svg,
.price_label .svg.replaced-svg{
    fill: #fafafa;
    width: 11.4px;
    height: auto;
    margin-left: 4px;
}

.onsale {
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 3px;
    background-color: #151515;
    color: #fafafa;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'roboto-slab', serif;
    z-index: 1;
}

/* pagination */

.page-numbers {
    width: 100%;
    
}

.page-numbers li {
    display: inline-block;
    color: #fafafa;
}

.page-numbers li a {
    color: #fafafa;
}

/* price */

.price {
    display: block;
    margin-bottom: 15px;
}

.price del:before {
    content: '';
    width: 90%;
    height: 1px;
    background-color: #989898;
    position: absolute;
    top: 10px;
    left: 0px;
    -webkit-transform: rotate(-20deg);
}

.price del {
    text-decoration: none;
    position: relative;
}

.price del span {
    color: #989898;
    font-size: 14px;
    text-decoration: none;
} 

.woocommerce-Price-amount {
    font-size: 18px;
}

.katalog-page-content {
    margin-top: 80px;
}