.page-nav {
    margin-top: 40px;
    margin-left: 40px;
}

.page-nav li {
    margin-bottom: 20px;
    position: relative;
}

.page-nav li:after {
    content: '';
    position: absolute;
    height: calc(100% + 20px);
    left: -17px;
    width: 1px;
    background: #bcbcbc;
}

.page-nav li:last-child:after {
    content: none;
}

.page-nav li:before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    left: -25px;
    border-radius: 100%;
    border: 1px solid #bcbcbc;
    background-color: #151515;
    z-index: 1;
}