.katalog-filter {
    padding-right: 40px;
    color: #fafafa;
    border-right: 2px solid #fafafa;
}

.katalog-filter-title {
    font-family: fiveminutes;
    text-transform: uppercase;
    font-size: 24px;
    text-align: right;
    padding-bottom: 28px;
    margin-bottom: 28px;
    border-bottom: 2px solid #fafafa;
    padding-right: 40px;
    position: relative;
    right: 0px;
    width: calc(100% + 40px);
    top: 5px;
    display: none;
}

body.post-type-archive .katalog-filter-title{
    display: block;
}

.yith-woocommerce-ajax-product-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.widgettitle {
    margin-right: 20px;
    font-size: 16px;
    text-transform: lowercase;
}

.yit-wcan-select-open.active {
    border-bottom: 1px solid #121212;
    position: relative;
    z-index: 2;
}

.yith-wcan-select-wrapper {
    background: #121212;
    position: absolute;
    top: 68px;
}

.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li:hover,
.woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen  {
    box-shadow: 0 0 0 #121212;
    border: none;
}

.widget .yit-wcan-select-open {
    color: #fafafa;
}

.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li:hover a {
    color: #fafafa;
}

.yith-wcan-select-wrapper ul.yith-wcan-select.yith-wcan li {
    border: none;
}

.woocommerce-page .widget_layered_nav .yith-wcan-select-wrapper ul li.chosen a {
    display: block;
}

.yith-wcan-reset-navigation {
    margin-top: 40px;
}